@media screen and (max-width: 800px){
 
    nav{
        flex-direction: column;
    }

    .slider{
        height: 30vh;
    }

    .logo{
        justify-content: center;
        margin: 10px 0;
    }

    nav ul{
        justify-content: center;
    }

    .search{
        justify-content: center;
    }

    .search input{
        margin: 5px 5px;
    }

    nav ul{
        height: 30px;
    }

    .card-items img{
        width: 140px;
    }
}
